body * {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
/* @media (max-width: 800px) {
  .cv-body {
    flex-direction: column;
  }
} */

/* @media screen and (max-width: 600px){
  .cv-body{
     flex-direction: column;
  }
} */


.row {
  display: flex;
}

.col1 {
  background-color: pink;
  position: fixed;
  /* margin-right: 70%; */
  left:0;
  /* width:30%; */
  /*top: 0; */
  flex: 30%;
  height:100%;  
}


.col1bis {
  flex: 31%;
  background-color: yellowgreen;
}

.col2 {
  background-color: cyan;
  flex: 70%;
  /* margin-left: 31%; */
  /* overflow: auto; */
  word-wrap:break-word;
}


/* h2 {
  font-weight: bolder;
  transform: translateX(20px)
} */

.presentation {
  font-size: 10px;
}

.timeline {
  width: 100%;
  max-width: 800px;
  padding: 10px 50px;
  position: relative;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 25px;
  left: calc(33% + 15px);
  bottom: 60px;
  width: 4px;
  background: #ddd;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}
.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  /* margin-bottom: 0.3em; */
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border: 3px solid salmon;
  /* transform: translatex(-2px); */
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -8px;
  z-index: 99;
}
.entry .title h3 {
  margin: 0;
  font-size: 120%;
}
.entry .title p {
  margin: 0;
  font-size: 100%;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.entry .body p {
  line-height: 1.4em;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "–";
  margin-right: 0.5em;
}

.body {
  /* transform: translateY(-7px); */
}
.position {
  font-size: 20px;
}


/* image */
img {
  position:relative;
  border-radius: 50%;
  width:20%;
}
