{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/cv.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
{% endblock %}

{% block body %}
<div class="timeline">
    <div class="line"></div>
    {% for experience in experiences %}
    <div class="timeline-item">
        <div class="date-dot-position">
            <div class="dot"></div>
            <div class="left-content">
                <p><b>{{ experience.date }}</b></p>
                <p>{{ experience.place }}</b></p>
            </div>
        
            <div class="right-content">
                <h2>{{ experience.position }}</h2>
                <p><b>{{ experience.institution }}</b></p>
                <ul>
                    {% for task in experience.tasks %}
                    <li>{{ task }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
